
/* **Seletor Universal** 
* {
	border: 1px solid red;
}*/

/* **Seletor de Texto** *
	color: green;
}

/* **Seletor de Classe** 
.vermelho {
	color: red;
}

p.azul {
	color: blue;
}

/* **Seletor de ID** 
#cabecalho {
	border: 1px solid blue;
}

/* **Seletor de Filho** 
li>a {
	color: red;
	text-decoration: none;
}

/* **Seletor de Descendente** 
div a {
	color: green;
}

/* **Seletor de Irmão adjacente** 
h1+p {
	color: yellow;
}

/* **Seletor de Irmão geral** 
h1~p {
	color: pink;
=======
/* ** Herança e especificidade ** 
body {
	color: red;
	border: 1px solid blue;
}

.pagina {
		color: green;
}

h2.amarelo {
	color: yellow;
}

p#laranja {
	color: orange;
}
*/
/*
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 5px 20px;
	background: url(../imagens/seta.png) no-repeat left center;
}


ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul a {
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background: #fcb600 url(../imagens/menu.png) no-repeat left bottom;
}

a:hover {
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
}

/*#home .home a {
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
}
*/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 720px;
	background: #159cb0 url(../imagens/fundo-horizontal.png) repeat-x;
	float: left;
}

ul li {
	float: left;
}

ul a {
	display: block;
	padding: 0 2em;
	line-height: 2.2em;
	text-decoration: none;
	color: #fff;
	background: url(../imagens/divisor.png) repeat-y;
}

ul .primeiro a {
	background: none;
}	

ul a:hover {
	color: #085662;
	background: #44cade;
}

#home .home a {
	color: #085662;
	background: #44cade;

